[submodule "themes/pulp"]
	path = themes/pulp
	url = https://github.com/koirand/pulp.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "public"]
	path = public
	url = https://github.com/bruhtus/bruhtus.github.io.git
