{{ define "main"}}
  <h1>{{ .Title }}</h1>
  {{ partial "back.html" . }}
  <!-- content -->
  <div id="contentBody">
    {{ .Content }}
          <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 39px;
          height: 60px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>

      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 39px;
          height: 60px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
  </div>
  {{ partial "footer.html" . }}
{{ end }}
