{{ define "main"}}
  <h1>{{ .Title }}</h1>
  {{ partial "back.html" . }}
  <!-- search box -->
  <div id="searchBox">
    <input type="text" id="searchBoxInput" placeholder="Search..." />
    <img id="searchBoxIcon" src="{{ .Site.BaseURL }}/img/search.png" />
  </div>
  <!-- search results -->
  <div id="searchResults"></div>
  <!-- tags -->
  <div id="tags">
    <ul>
      {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a style="text-decoration:none" href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
      {{ end }}
    </ul>
  </div>
  <!-- contents -->
  <div class="toc">
      <details>
          <summary>
              <div class="details">{{ .Title }}</div>
          </summary>
          <blockquote>
              {{- partial "toc.html" . }}
          </blockquote>
      </details>
  </div>
  {{ partial "footer.html" . }}
  {{ $jquery := resources.Get "js/jquery-3.5.1.min.js" }}
  {{ $mark := resources.Get "js/jquery.mark.es6.min.js" }}
  {{ $lunr := resources.Get "js/lunr.js" }}
  {{ $search := resources.Get "js/search.js" }}
  {{ $js := slice $jquery $mark $lunr $search | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
{{ end }}
